<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ title }}! REEEEN-->
  <!--</h1>-->
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
  <!--</li>-->
<!--</ul>-->
<h1>1000 random cars</h1>

<div>
  <label for="year">Year</label>
  <input id="year" type="text" (keyup)="onYearKeyUp($event)">
</div>

<div>
  <label for="make">Make</label>
  <input id="make" type="text" (keyup)="onMakeKeyUp($event)">
</div>

<div>
  <label for="model">Model</label>
  <input id="model" type="text" (keyup)="onModelKeyUp($event)">
</div>

<div>
  <p>Sort By:</p>
  <button (click)="onYearClick()" [ngClass]="{active: sort === 'year'}">Year</button>
  <button (click)="onMakeClick()" [ngClass]="{active: sort === 'make'}">Make</button>
  <button (click)="onModelClick()" [ngClass]="{active: sort === 'model'}">Model</button>
</div>

<h2>{{filter}}</h2>

<div *ngFor="let beer of beers">
  <div><img [src]="beer.image_url" alt="" height="100"> {{beer.name}} {{beer.abv}}%</div>
</div>

<table>
  <tr *ngFor="let car of filteredCars">
    <td>{{car.id}}</td>
    <td>{{car.year}}</td>
    <td>{{car.make}}</td>
    <td>{{car.model}}</td>
  </tr>
</table>
